<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <title>Create Tag</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="header">
    <a href="/posts">Posts</a>
    <a href="/posts/new" sec:authorize="isAuthenticated()">Create Post</a>
    <a href="/tags" sec:authorize="isAuthenticated()">Tags</a>
    <a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
    <a href="/login" sec:authorize="!isAuthenticated()">Login</a>
</div>

<hr>

<h1>Create Tag</h1>

<form action="/tags" method="post">
    <label>Tag Name</label>
    <input type="text" name="name">
    <button type="submit">Save</button>
</form>

</body>
</html>